<a href="https://colab.research.google.com/github/jorgetstechnology/Automated-Scanner/blob/master/calculando_riscos_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb 
import matplotlib.pyplot as pl

In [0]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
  sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

In [4]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-01-06  122.750000  106.000000
2020-01-07  121.989998  105.750000
2020-01-08  122.510002  106.199997
2020-01-09  123.849998  107.150002
2020-01-10  123.970001  107.699997

In [0]:
sec_data.head()

In [0]:
sec_data.discribe()

In [0]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [6]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-01-06  0.001386  0.003307
2020-01-07 -0.006211 -0.002361
2020-01-08  0.004254  0.004246
2020-01-09  0.010878  0.008906
2020-01-10  0.000968  0.005120

[3279 rows x 2 columns]

PG

In [7]:
sec_returns['PG'].mean() #retorno mÃ©dio diario

0.00031813529457399816

In [8]:
sec_returns['PG'].mean() * 250 #retorno mÃ©dio anual

0.07953382364349953

In [9]:
sec_returns['PG'].std() #desvio padrÃ£o

0.010947890091568258

In [10]:
sec_returns['PG'].std()*250 ** 0.5 #raiz quadrada da variancia

0.17310134131272528

## **Beiesrsdorf**

In [11]:
sec_returns['PG'].mean() #retorno mÃ©dio diario

0.00031813529457399816

In [12]:
sec_returns['PG'].mean() * 250 #retorno mÃ©dio anual

0.07953382364349953

In [13]:
sec_returns['PG'].std() #desvio padrÃ£o

0.010947890091568258

In [14]:
sec_returns['PG'].std()*250 ** 0.5 #raiz quadrada da variancia

0.17310134131272528

## Analisando os resultados agrupados

In [39]:
print (sec_returns['PG'].mean()*250) 
print (sec_returns['BEI.DE'].mean() * 250)

0.07953382364349953
0.07244787083126521

In [0]:
#sec_returns['PG', 'BEI.DE'].mean() * 250 #retorna erro, devido dois float nÃ£o ocupar mesmo array(lembrete)

In [33]:
sec_returns[['PG', 'BEI.DE']].mean() * 250 #media

PG        0.079534
BEI.DE    0.072448
dtype: float64

In [34]:
sec_returns [['PG', 'BEI.DE']].std() * 250 ** 0.5 #desvio padrao

PG        0.173101
BEI.DE    0.214467
dtype: float64